<% const d=new Date(); const year=d.getFullYear(); %>
    <footer>
        <p class="copyright">&copy; <%= year %>, CSE Motors. All rights reserved.</p>
        <p class="last-updated">Last Updated: <%= d.toLocaleDateString() %>
        </p>
        <p><a href="/trigger-error" title="Test error handling">Trigger Error</a></p>
    </footer>