<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/custom" title="Custom vehicles">Custom</a></li>
        <li><a href="/sell" title="Sell your vehicle">Sell</a></li>
        <li><a href="/buy" title="Buy a vehicle">Buy</a></li>
        <li><a href="/tools" title="Vehicle tools">Tools</a></li>
    </ul>
</nav>